<div id="alertOverlay" class="overlay dialog">
	<div>
		<h4 id="alertText"></h4>
		<input type="submit" class="validate rounded" value="OK" /> 
	</div>
</div>
<div id="promptOverlay" class="overlay dialog">
	<div>
		<div class="inputContainer">
			<label for="promptInput"><h4 id="promptText"></h4></label>
			<input type="text" id="promptInput"></p>
		</div>
		<input type="submit" class="validate rounded" value="OK" /> 
	</div>
	<button class="cancel rounded">Annuler</button>
</div>
<div id="confirmOverlay" class="overlay dialog">
	<div>
		<h4 id="confirmText"></h4>
		<input type="submit" class="validate rounded" value="OK" /> 
	</div>
	<button class="cancel rounded">Annuler</button>
</div>
<div id="loadingOverlay" class="overlay dialog <%= url === "project" ? "visible" : "" %>">
	<div>
		<h4 id="loadingText">Chargement...</h4>
		<img src="/images/loading.gif" alt="Loading">
	</div>
</div>