<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <%- include("partials/head") %> 
    <title>Phoe</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <script defer src="/scripts/registerPWA.js"></script>    
</head>
<body>
    <header>
        <h2><img src="/images/icon.png" alt="icone" /></h2>
        <nav>
            <ul>
                <li><a href="/help">Aide</a></li>
                <% if (user) { %> 
                    <li><a href="/logout">Déconnexion</a></li>
                    <li><a href="/profile">Profil</a></li>
                <% } else { %> 
                <li><a href="/login">Connexion</a></li>
                <li><a href="/register">Inscription</a></li>
                <% } %> 
            </ul>
        </nav>
    </header>
    <h2 class="error" style="display: none;" id="notConncted">Veuillez vous connecter à Internet pour accéder a l'application</h2>
    <div>
        <h1>Phoe</h1>
    </div>
    <footer>
        <div id="downloads">
            <a href="#" id="installPwa">Installer pour tous les appareils</a>
        </div>
        <div id="mail">
            <p>Un problème ? Une question ? <a href="mailto:julien.merasli@hotmail.com?subject=Probl%C3%A8me%20%2F%20Question%20sur%20https%3A%2F%2Fphoe.azurewebsites.net">Contactez-moi</a></p>
            <p><a href="https://julienmerasli.media" target="_blank">Voir tous mes projets</a></p>
        </div>
    </footer>
</body>
</html>