<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <%- include("partials/head") %> 
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <script type="module" src="/scripts/index.js"></script>
</head>
<body>
    <header>
        <h2><img src="/images/icon.png" alt="icone" /></h2>
        <nav>
            <ul>
                <li><a class="blue" href="/help">Aide</a></li>
                <% if (user) { %> 
                    <li><a class="blue" href="/logout">Déconnexion</a></li>
                    <li><a class="blue" href="/profile">Profil</a></li>
                <% } else { %> 
                    <li><a class="blue" href="/login">Connexion</a></li>
                    <li><a class="blue" href="/register">Inscription</a></li>
                <% } %> 
            </ul>
        </nav>
    </header>
    <div>
        <h1>TEMPLATE</h1>
    </div>
    
    <main>
    </main>
    <div id="overlay">
        <%- include("partials/dialogs") %> 
    </div>
    <footer>
        <div id="mail">
            <p>Un problème ? Une question ? <a href="mailto:julien.merasli@hotmail.com?subject=Probl%C3%A8me%20%2F%20Question%20sur%20https%3A%2F%2Ftemplate.azurewebsites.net">Contactez-moi</a></p>
            <p><a href="https://julienmerasli.media" target="_blank">Voir tous mes projets</a></p>
            <p>© Julien MERASLI - 2021</p>
        </div>
    </footer>
</body>
</html>