<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Template" />
    <meta name="application-name" content="Template"/>
    <meta name="theme-color" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="author" content="Julien Merasli"/>
    <script defer type="module" src="/scripts/utilities/registerPWA.js"></script>    
    <% if (options.user) { 
        options.user.PW = options.user.__v = options.user._id = undefined;
    } %>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/<%= css %>.css" />
    <script type="module">
        import App from "/scripts/<%= js %>.js";
        import { h, render } from "/_snowpack/pkg/preact.v10.5.13.js";
        render(h(App, JSON.parse(`<%- JSON.stringify(options) %>`)), document.body);
        document.querySelector("#loadingDiv")?.remove();
    </script>
</head>
<body>
    <div id="loadingDiv">
        <div>
            <img src="/images/loading.gif" alt="Loading">
            <p>Chargement...</p>
        </div>
    </div>
</body>
</html>