<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <%- include("../partials/head") %> 
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css" />
    <script defer src="/scripts/forms/login.js"></script>
</head>
<body>
    <header>
        <a href="/" class="lefted image">
            <img src="/images/icon.png" alt="icone"/>
        </a>
    </header>
    <% if (typeof wrongID !== "undefined" && wrongID === true) { %> 
        <h2 class="error">Pseudo ou mot de passe erroné</h2>
    <% } %>
    <% if (typeof existingUser !== "undefined" && existingUser === true) { %> 
        <h2 class="error">Cet utilisateur existe déjà, veuillez vous connecter</h2>
    <% } %>
    <% if (typeof notConnected !== "undefined" && notConnected === true) { %> 
        <h2 class="error">Veuillez vous connecter pour acceder à cette page</h2>
    <% } %>
    <% if (typeof emailSent !== "undefined" && emailSent === true) { %> 
        <h2 class="information">Un email a été envoyé avec un lien pour réinitialiser votre mot de passe</h2>
    <% } %>

    <form action="/connected" method="post">
        <h1>Se connecter</h1>
        <div>
            <button type="button" id="changeConnectionType" class="blue">Se connecter avec l'email</button>
        </div>
        <div>
            <label for="username">Pseudo:</label>
            <input type="text" name="username" id="username" required autofocus /><br />
        </div>
        <div>
            <label for="PW">Mot de passe:</label>
            <input type="password" name="PW" id="PW" required />
        </div>
        <div>
            <input type="submit" value="Valider" class="blue" />
        </div>
        <p><a href="/forgotPW">Mot de passe oublié</a></p>
        <p>C'est votre première fois ici? <a href="/register">S'inscrire</a></p>
    </form>
    
</body>
</html>