<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("../partials/head") %> 
    <title>Paramètres</title>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css" />
    <script src="/scripts/forms/settings.js" type="module"></script>
</head>
<body>
    <main>
        <header>
            <a href="/profile" class="lefted blue">Profil</a>    
            <nav>
                <ul>
                    <li><a class="blue" href="/help#settingsHelp">Aide</a></li>
                </ul>
            </nav>
        </header>
        <h2 class="error" id="PWConfirmError" style="display: none;">Le mot de passe et la confirmation doivent correspondre</h2>
        <form id="modifyForm">
            <h1>Modifier les paramètres du compte</h1>
            <div>
                <label for="username">Pseudo:</label>
                <input type="text" name="username" id="username" pattern="^[A-Za-z0-9]+(?:[_][A-Za-z0-9]+)*$" placeholder="<%= user.username %>" autofocus minlength="2" /><br />
            </div>
            <div>
                <label for="PW">Mot de passe:</label>
                <input type="password" name="PW" id="PW" placeholder="********" minlength="4"/>
            </div>
            <div>
                <label for="PWConfirm">Confirmation du mot de passe:</label>
                <input type="password" name="PWConfirm" id="PWConfirm" placeholder="********" minlength="4" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="<%= user.email %>" />
            </div>
            <div>
                <input type="submit" value="Valider" class="blue" />
            </div>
            <p><a href="/profile">Annuler</a></p>
        </form>
    </main>
    <div id="overlay">
        <div class="overlay" id="confirmPWOverlay">
            <div class="error" style="display: none;">Mot de passe erroné</div>
            <div>
                <div class="inputContainer">
                    <label for="oldPW"><h4>Veuillez entrer votre ancien mot de passe</h4></label>
                    <input type="password" id="oldPW" name="oldPW" placeholder="Ancien mot de passe" /><br />
                </div>
                <input type="submit" value="Valider" class="validate rounded" />
            </div>
            <button class="cancel rounded">Annuler</button>
        </div>
        <%- include("../partials/dialogs") %>
    </div>
</body>
</html>